.uploadList {
    width: 100%;
}
.typeuser{
    display: inline-flex;
    width: 100%;
}
.descr {
    background-color: rgba(0, 0, 0, 0.75);
    margin: 10px;
    width: 70%;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descr > button {
    color: rgb(59, 52, 52);
    width: 80%;
    padding: 10px;
}