.uploadfiles {
    width: 70%;
    margin: 10px auto;
}

.showrecords{
    width: 90%;
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0px auto;
}

.uploaddiv {
    display: flex;
    flex-direction: row;
    background-color: violet;
    width: 100%;
}
.uploaddiv > .uploadInput{
    width: 30%;
}

.uploaddiv > .description {
    display: inline-block;
    background-color: whitesmoke;
    color: black;
}

.uploaddiv > .uplbut {
    display: inline-block;
    font-size: larger;
    background-color: whitesmoke;
    color: rgb(99, 40, 99);
    border: none;
    margin:10px 5px;
    padding: 5px;
}