
 .bdiv > .doctorrecdel {
     background-color: whitesmoke;
     border:none;
     font-size: large;
     padding:5px;
     color:blueviolet;
     border: 2px solid rebeccapurple;
     border-radius: 8px;
 }
 

